  
    html {
      box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    
    body {
    
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.6rem;
      line-height: 2;
      color: white;
       /* fallback for old browsers */
       /* background: #6a11cb; */
    
       /* Chrome 10-25, Safari 5.1-6 */
       background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
     
       /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    }
    
    header nav img{
      width:80px;
      height:65px;
      margin-top: 5px;
    }

    .contenedor {
      margin: 0 auto;
      display: flex;
      color: white;
      justify-content: space-between;

    }
    
    .titulo {
      text-align: center;
      line-height:3;
      font-size: 1.4rem;
    }
    
  
    .gradient-custom {
      /* fallback for old browsers */
      background: #6a11cb;
    
      /* Chrome 10-25, Safari 5.1-6 */
      background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    
    label{
      margin-top: 10px;
    }  
    
    @media (max-width: 1023px) {
      header nav img{
        width:65px;
        height:65px;
      }


    }
    @media(max-width: 768px) {
      header nav img{
        width:65px;
        height:65px;
      }

    }