    
    html {
      box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    
    body {
    
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.6rem;
      line-height: 2;
      color: white;
       /* fallback for old browsers */
       /* background: #6a11cb; */
    
       /* Chrome 10-25, Safari 5.1-6 */
       background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
     
       /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    }
    
    header nav img{
      width:80px;
      height:65px;
      margin-top: 5px;
    }

    .contenedor {
      margin: 0 auto;
      display: flex;
      color: white;
      justify-content: space-around;
    }
    
    .titulo {
      text-align: center;
      line-height:3;
      font-size: 1.4rem;
    }
    

    
    /* .cuerpo{
        margin-top: 15rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        gap: 10px; 
    } */
    
    section {
      display: grid;
      margin-top: 1rem;
      gap: 20px;
      grid-template-columns: 300px 300px 300px 300px;
      justify-content: center;
      width: auto;
    }
    
    section a {
      position: relative;
      width: 250px;
      transition: all .3s ease;
      cursor: pointer;
      color: white !important;
      text-decoration: none !important;
      display: block;
    }
    
    section a img:first-child {
      box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
      border-radius: 4px;
      object-fit: cover;
      width: 100%;
    }
    
    section a img:last-child {
      position: absolute;
      width: 200px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(20%);
      transition: .3s ease;
      opacity: 0;
    }
    
    section a:hover {
      transform: perspective(250px) rotateX(10deg) translateY(-5%) translateZ(0);
    }
    
    section a::before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to bottom,
          transparent 10%,
          rgba(0, 0, 0, 0.5) 60%,
          rgba(0, 0, 0) 97%);
      opacity: 0;
      transition: all .3s ease;
    }
    
    section a:hover::before {
      opacity: 1;
    }
    
    section a:hover img:last-child {
      opacity: 1;
      transform: translateY(20%);
    }
    
    
    /* ACTUALIZACIÓN */
    
    @media (max-width: 1023px) {
      header nav img{
        width:65px;
        height:65px;
      }


      section {
        display: grid;
        margin-top: 1rem;
        gap: 20px;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        width: auto;
      }
    
      section a {
        width: 250px;
        margin: 0 auto 20px;
      }
    
      section a img:last-child {
        width: 150px;
      }
    }
    
    @media(max-width: 768px) {
      header nav img{
        width:65px;
        height:65px;
      }


      section {
        display: grid;
        margin-top: 1rem;
        gap: 20px;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr;
        width: auto;
      }
    
      section a {
        width: 250px;
      }
    
      section a img:last-child {
        width: 150px;
      }
    }