.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

  }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.shadow-blue {
  box-shadow: 0 .5rem 1rem rgba(0, 123, 255, .2) !important;
}

.row {
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .texto-footer {
    font-size: 14px;
  }
}

div#anadir, div#editar, div#excel {
  flex-basis: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 22.4vh;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

div#anadir:hover, div#editar:hover, div#excel:hover {
  transform: scale(1.1);
}

a{
  text-decoration: none;
  font-size: 25px;
}